<article class="container">
    <header class="row">
        <h1>To Do List App</h1>
    </header>
    <section class="row">
        <div ui-view="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    </section>
    <footer class="row">
        <span class="pull-right"><sub><i>Developed by Srikar Shastry</i></sub></span>
    </footer>
</article>
