<div class="alert alert-danger" data-ng-if="loginCtrl.incorrect">
    <strong>
        Login credentials seems incorrect. Please try again.
    </strong>
</div>

<form name="loginCtrl.form" novalidate data-ng-submit="loginCtrl.submit(loginCtrl.user)">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" data-ng-model="loginCtrl.user.username" required/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" data-ng-model="loginCtrl.user.password" required/>
    </div>
    <div class="form-group">
        <button type="reset" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-success" data-ng-disabled="loginCtrl.form.$invalid">Login</button>
    </div>
</form>